input[type=submit] {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #da9d11;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #bc9e3c; 
    cursor: pointer;
    width: 25%; 
}

input[type=submit]:hover {
    color: #b69211;
    background-color: #ffffff99;

}

img {
    max-width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


input[type=text] {
    border:1px solid #c3960c; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
    margin-bottom: 5px;
}

input[type=email] {
    border:1px solid #ba8d10; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
    margin-bottom: 5px;
}

input[type=password] {
    border:1px solid #dda416; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
}

label {
    margin-bottom: 10px;
}

::placeholder {
    color:    hwb(43 6% 17%);
 }

.logout-button {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #dfa810;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #bd8618; 
    cursor: pointer;
    width: 25%; 
}

.logout-button:hover {
    color: #d79915;
    background-color: #ffffff99;
}