body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7d188;
}

h2 {
    color: #b08311;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button {
    margin-left: auto;
    padding: 0.5 rem;
    background-color: #b78116;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #d39c1b; 
    cursor: pointer;
    float: center;
    width: 25%;
}




.App {
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 1rem;
    max-width: 600px;
}


.shopping-item {
    background: #d7980f99;
    border: grey solid 0.1rem;
    border-bottom: none;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    display: flex;
}

.shopping-item-title {
    font-weight: bolder;
    font-size: 1.3em;
    color: #c48914;
  }
  
.shopping-cat {
  
    padding: 0.5 rem;
    border-radius: 0.5 rem;
    color: grey;
    font-size: 0.8em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
}
  
  .delete-button {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 6px;
    background-color: #e0a717;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #d8aa11; 
    cursor: pointer;
    width: 5%;       
}
    
.delete-button:hover {
    color:  #d0a221;
    background-color: #e7b51f99;
    border: 2px solid #c17716; 
}

.add-item-button {
    color:  #cd8623;
}
  
select {
    width: 79%;
    font-size: 17px;
    padding: 3px 5px;
    border-radius: 5px;
    border:1px solid #d07e13; 
    
}

input[type=text] {
    border:1px solid #b57c11; 
    border-radius: 5px;
    width: 85%;
    font-size: 17px;
    padding: 3px 15px;
}

input[type=submit] {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #cb8c2c;
    color: white;
    font-size: 0.9em;
    font-weight: bolder;
    border: 2px solid #a86a13; 
    cursor: pointer;
    width: 25%; 
}


.new-shopping-item-form {
    display:grid;
    text-align:right;
    grid-row-gap: 10px;
}