body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #c49918;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button {
    margin-left: auto;
    padding: 0.5 rem;
    background-color: #dda713;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #be8f18; 
    cursor: pointer;
    float: center;
    width: 25%;
}



.App {
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 1rem;
    max-width: 600px;
}


.todo {
    background: #dc9a1599;
    border: rgb(207, 159, 38) solid 0.1rem;
    border-bottom: none;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    display: flex;
}


.todo-title {
    font-weight: bolder;
    font-size: 1.3em;
    color: #bd6e0e;
  }
  
.todo-cat {
  
    padding: 0.5 rem;
    border-radius: 0.5 rem;
    color: grey;
    font-size: 0.8em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
}
  
  .delete-button {
    margin-left:auto;
    padding: 0.5 rem;
    border-radius: 6px;
    background-color: #e5b02a;
    color: white;
    font-size: 5px;
    font-weight: 600;
    border: 2px solid #d3ac10; 
    cursor: pointer;
    width: 5%;       
}
    
.delete-button:hover {
    color:  #ebb213;
    background-color: #e7991399;
    border: 2px solid #daac13; 
}

.add-todo-button {
    color:  #c18516;
}
  


input[type=text] {
    border:1px solid #d5a01b; 
    border-radius: 5px;
    width: 85%;
    font-size: 17px;
    padding: 3px 15px;
}



.new-todo-form {
    display:grid;
    text-align:right;
    grid-row-gap: 10px;
}

select {
    width: 100%;
    font-size: 17px;
    padding: 3px 5px;
    border-radius: 5px;
    border:1px solid #ce9615; 
    
}

input[type=submit] {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #d4990e;
    color: white;
    font-size: 0.9em;
    font-weight: bolder;
    border: 2px solid #c99c22; 
    cursor: pointer;
    width: 25%; 
}